@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;
@theme {
  /* Main accent color */
  --color-accent: 23 153 87;      /* #179957 */

  /* Darker accent color for hover/active */
  --color-accent-dark: 24 77 71;  /* #184D47 */
}
@layer components{
  .icon_wrapper{
    @apply border border-gray-400 rounded-full w-[50px] h-[50px] grid place-items-center text-[22px]
  }
  .feature_btn{
    @apply bg-green-500 text-white px-4 py-1 rounded-full hover:bg-green-700;
  }
}